<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title></title>
			<link rel="stylesheet" href="reset.css" type="text/css">
			<link rel="stylesheet" href="includes.css" type="text/css">
	</head>
	<body>
		<div class="contenedor">
		<header> Logotipo - Texto</header>
		
		<nav>
			<ul>
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>
		</nav>
		
		<section class="contenido">Contenido</section>
		<section class="contenido">Contenido</section>
		<section class="contenido">Contenido</section>
		</div>
	</body>
</html>